<h2>Add a comment:</h2>

<%= form_for([@track, @comment]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= submit_tag "Edit comment", class: "btn btn-primary" %>
  </div>
<% end %>
