/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.profile h1 {
  color: white;

  background-position: left bottom;
  background-size: cover;
  height: 350px;
  padding: 10px;
}

.profile.theme-one h1 {
  background-image: url(/assets/background_images/palm_trees.jpg);
}

.profile.theme-two h1 {
  background-image: url(/assets/background_images/houses.jpg);
}

.profile.theme-three h1 {
  background-image: url(/asset    s/background_images/urban.jpg);
}

